{% extends "base.html" %}
{% load static %}
{% block header %}
    <header class="header--form-page">
        {% include "header.html" %}
        <div class="profile-container">
            <h1>Zmień hasło</h1>
            <img src="{% static 'images/decoration.svg' %}" style="width: 100%">
            {% if error %}<p style="color: red">Hasło nie zostało zmienione, {{ error }}</p>{% endif %}
            <p style="color: red">{{ form.non_field_errors }}</p>
            <form method="post">
                {% csrf_token %}
                <p>
                    <label for="id_password_old">Podaj stare hasło</label>
                    <input type="password" name="password_old" id="id_password_old">
                </p>
                <p>
                    <label for="id_password_new1">Podaj nowe hasło</label>
                    <input type="password" name="password1" id="id_password_new1">
                </p>
                <p>
                    <label for="id_password_new2">Powtórz nowe hasło</label>
                    <input type="password" name="password2" id="id_password_new2">
                </p>
                <div style="display: flex; justify-content: center">
                    <button class="btn" type="submit" id="save_edit">Zapisz</button>
                </div>
            </form>
        </div>
    </header>
{% endblock %}
